@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to Testco</h1>

    @*Looks like a good place to add a carousel for featured products*@

</div>
